{
    "extends": "airbnb",
    "rules": {    
        "react/jsx-filename-extension": "off",
        "react/jsx-props-no-spreading": "off" ,
        "react/prop-types": "off"
    },
    "globals": {    
        "React": "readonly",
        "fetch": "readonly"
    }
}